
* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 auto;
    display: table;
}

.main-1 {
    background-color: aqua!important;
}

.btn-2 {
    position: absolute;
    top:  0;
    right: 0;
}

.tarefa {
    position: relative;
    left: 58em;
    width: 22em!important;
    top: 3.5em;
}

.filtro {
    display: table;
    right: -83em;
    top: 0;
    position: relative;
}
